body {
    font-family: "lmr12", serif;
    width: 6.5in;
    margin: auto;
    margin-top: 1in;
    margin-bottom: 1in;
    font-size: 14pt;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: normal;
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1.masthead {
    font-size: 72pt;
}

a {
    color: black;
    font-style: italic;
}

a:hover {
    font-style: normal;
}

img {
    max-width: 6.5in;
}