<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/lmr/stylesheet.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Hello World</title>
    </head>
    <body>
        <h1 class="masthead"><a href="/">Georgerogers42</a></h1>
        <div class="articles">
            <%= for article <- articles do %>
                <div class="article">
                    <h1 class="article-title"><a href="/article/<%= article["slug"] %>"><%= article["title"] %></a></h1>
                    <h2 class="article-info"><%= article["author"] %>&mdash;<%= article["date"] %></h2>
                    <div class="article-contents">
                        <%= article["contents"] %>
                    </div>
                </div>
            <% end %>
        </div>
    </body>
</html>
